<header id="header" class="header-one">
    <div class="section-yellowish">
      <div class="container">
        <div class="logo-area">
            <div class="row align-items-center ">
              <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
                  <a class="d-flex flex-row align-items-center justify-content-center" href="/dashboard">
                    <img loading="lazy" src="/images/Logo.png" alt="Constra">
                    <h2 class="text-blue align-items-center" style="color: #2c4964; margin-left: 10px;">Hekima Schools</h2>
                  </a>
              </div><!-- logo end -->
    
              <div class="col-lg-9 header-right">
                <ul class="top-info-box">
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                          <p class="info-box-title">Call Us</p>
                          <a class="info-box-subtitle" href="tel:+255767568310">+255767568310</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                          <p class="info-box-title">Email Us</p>
                          <p class="info-box-subtitle">hekimaschools@gmail.com</p>
                      </div>
                    </div>
                  </li>
                  <li class="header-get-a-quote">
                    <a class="btn btn-primary btn-text" style="font-size: 16px;" href="/logout">Logout</a>
                  </li>
                </ul><!-- Ul end -->
            </div><!-- header right end -->
            </div><!-- logo area end -->
    
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div>
    </header>