<footer id="footer" class="footer" >
  <div class="footer-main">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-6 footer-widget footer-about">
          <h3 class="widget-title">About Us</h3>
          <p>Hekima English medium Nursery primary and secondary schools are boarding schools found at Kabanga, Kasulu district in Kigoma.</p>
          <!-- <div class="footer-social">
            <ul>
              <li><a href="https://facebook.com/themefisher" aria-label="Facebook"><i
                    class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/themefisher" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
              </li>
              <li><a href="https://instagram.com/themefisher" aria-label="Instagram"><i
                    class="fab fa-instagram"></i></a></li>
              <li><a href="https://github.com/themefisher" aria-label="Github"><i class="fab fa-github"></i></a></li>
            </ul>
          </div> -->
          <!-- Footer social end -->
        </div><!-- Col end -->

        <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
          <h3 class="widget-title">Working Hours</h3>
          <div class="working-hours">
            We work 7 days a week, with classes and office hours from monday to friday.
            <br><br> Monday - Friday: <span class="text-right">8:00 AM - 3:00 PM </span>
            <br> Saturday: <span class="text-right">8:00 AM- 1:00 PM</span>
            <br> Sunday and holidays: <span class="text-right">8:00 AM - 1:00 PM</span>
          </div>
        </div><!-- Col end -->

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
          <h3 class="widget-title">Online resources</h3>
          <ul class="list-arrow">
            <li><a href="/registration">Online application</a></li>
            <!-- <li><a href="service-single.html">School fees structure</a></li> -->
            <li><a href="/gallery">Our gallery</a></li>
            <li><a href="/#news">Latest news</a></li>
            <!-- <li><a href="service-single.html">Self-Perform Construction</a></li> -->
          </ul>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Footer main end -->

  <div class="copyright">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="copyright-info">
            <span>Copyright &copy;
              <script>
                document.write(new Date().getFullYear())
              </script>, HEKIMA SCHOOLS</a>
            </span>
          </div>
        </div>
      </div><!-- Row end -->



    </div><!-- Container end -->
  </div><!-- Copyright end -->
</footer><!-- Footer end -->