<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hekima Schools</title>
  <meta
    content="Hekima schools welcomes you to their online portal, to know all about the school and see the thriving enviroment it has"
    name="description">
  <meta
    content="Hekima, Tanzania ,Hekima shools ,Best schools in Tanzania, Shule, Shule ya msingi kigoma ,Shuke ya hekima, shule website"
    name="keywords">

  <!-- Favicons -->
  <link href="/images/Logo.png" rel="icon">

  <!-- Google Fonts -->
  <!-- <link href="https://fon.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Animation -->
  <link rel="stylesheet" href="/plugins/animate-css/animate.css">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="/plugins/slick/slick-theme.css">

  <!-- Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

</head>