<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") -%>

<body>
  <%- include("./partials/header.ejs") -%>  

  <!-- ======= Main section starts here ======= -->
  <main>

    <div id="banner-area" class="banner-area" style="background-image:url(images/Hekima/hero-1.jpg)">
      <div class="banner-text">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">In God We Trust</h1>
                <nav aria-label="breadcrumb">
                </nav>
              </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->


    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="column-title">SCHOOL'S OWNERSHIP</h3>
            <p class="lead">All hekima schools were founded and are owned by God's servant, Fedia Yaled Deheye Canon of the anglican
               church of king jesus found at Murusi, Kasulu Town  </p>
            <!-- <p class="lead">I personally thank all stakeholders in education system for their efforts to empower learning in the country, may god bless you</p> -->

          </div><!-- Col end -->

          <div class="col-lg-6 mt-5 mt-lg-0">

            <div id="page-slider" class="page-slider small-bg">

              <div class="item" style="background-image:url(images/Hekima/headmaster.jpg); background-size: cover; background-repeat:no-repeat; background-position:center; border-radius:20px;">
              </div><!-- Item 1 end -->

            </div><!-- Page slider end-->
          </div><!-- Col end -->
        </div><!-- Content row end -->

      </div><!-- Container end -->
    </section><!-- Main container end -->


    <!-- ======== school owner section ends here ====== -->

    <section id="main-container" class="main-container">
      <div class="container">
        <div class="section-title">
          <h2>Our History</h2>
        </div>

        <div class="container">
          <div class="main-timeline">
            <!-- start experience section-->
            <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                <div class="date-outer">
                  <span class="date">
                    <span class="month">Beggining</span>
                    <span class="year">2011</span>
                  </span>
                </div>
              </div>
              <div class="timeline-content">
                <h5 class="title">Hekima Schools were founded</h5>
                <p class="description lead">
                  Hekima primary and Nursery schools were founded in 2011 and registered as KG. 03/EA, 003 for the nursery school
                  and KG. 03/7/003 for the primary school.
                </p>
              </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                <div class="date-outer">
                  <span class="date">
                    <span class="month">In, </span>
                    <span class="year">2018</span>
                  </span>
                </div>
              </div>
              <div class="timeline-content">
                <h5 class="title">Secondary School was founded</h5>
                <p class="description lead">
                  Under the supervision of leadership from hekima nursery and primary, the building of classrooms started and 
                  the name suggested to be given to the school was Hekima secondary school 
                </p>
              </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                <div class="date-outer">
                  <span class="date">
                    <span class="month">In, </span>
                    <span class="year">2020</span>
                  </span>
                </div>
              </div>
              <div class="timeline-content">
                <h5 class="title">Secondary School Started</h5>
                <p class="description lead">
                  Hekima Secondary school Started operations and was registered as S5554 with 39 students in form 1
                </p>
              </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                <div class="date-outer">
                  <span class="date">
                    <span class="month">by, </span>
                    <span class="year">2022</span>
                  </span>
                </div>
              </div>
              <div class="timeline-content">
                <h5 class="title">Secondary School Blossoms</h5>
                <p class="description lead">
                  Hekima Secondary school has arledy more than 90 students in form 1 and form 2, and the school is arledy perfoming well academicaly. 
                </p>
              </div>
            </div>
            <!-- end experience section-->

          </div>
        </div>
         
        
      </div>
      </div>

         <!-- ======= Counts Section ======= -->
    <section id="facts" class="facts-area section-yellowish">
      <div class="container">
        <div class="facts-wrapper">
          <div class="row">
            <div class="col-md-3 col-sm-6 ts-facts">
              <div class="ts-facts-img">
                <img loading="lazy" src="images/Hekima/graduated.png" alt="facts-img" class="stats-icons">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="400">0</span>+</h2>
                <h3 class="ts-facts-title">students</h3>
              </div>
            </div><!-- Col end -->

            <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="images/Hekima/team.png" alt="facts-img" class="stats-icons">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="40">0</span>+</h2>
                <h3 class="ts-facts-title">Staff Members</h3>
              </div>
            </div><!-- Col end -->

            <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="images/Hekima/graduation-hat.png" alt="facts-img" class="stats-icons" >
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="400"></span>+</h2>
                <h3 class="ts-facts-title">No of graduates</h3>
              </div>
            </div><!-- Col end -->

            <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="images/Hekima/award.png" alt="facts-img" class="stats-icons">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="1">0</span></h2>
                <h3 class="ts-facts-title">Our Highest position</h3>
              </div>
            </div><!-- Col end -->

          </div> <!-- Facts end -->
        </div>
        <!--/ Content row end -->
      </div>
      <!--/ Container end -->
    </section>



    <!-- Another banner starts here -->

    <div id="banner-area" class="banner-area" style="background-image:url(images/Hekima/girl-pic.jpg)">
      <div class="banner-text">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">In God We Trust</h1>
                <nav aria-label="breadcrumb">
                </nav>
              </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
     



    <section class="content">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div id="testimonial-slide" class="testimonial-slide">
            <div class="item">
              <div class="quote-item">
                  <span class="quote-text">
                    I personally thank all stakeholders in education system for their efforts to empoer learning in the country, may god bless you
                  </span>

                  <span style="font-size: large; color: #fff;">
                    <!-- <img src="/HekimaSchools/public/images/Hekima/headmaster-passport.jpg" alt="testimonial"> -->
                    Fedia Yaled Deheye Canon, The founder and owner of Hekima schools
                  </span>

              </div><!-- Quote item end -->
            </div>
            <!--/ Item 1 end -->          

        </div>
        <!--/ Testimonial carousel end-->
      </div>

    </section>

    

  </main>
  <!-- ======= Main section ends here ======= -->


  <!-- ======= Footer ======= -->
  <%- include("./partials/footer.ejs") -%>
  <!-- Footer end -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
      
      
  <%- include("./partials/scripts.ejs") -%>

 
</body>

</html>