<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") -%>


<body>

  <!--Header section-->
  <%- include("./partials/header.ejs") -%>

    <!-- ======= Hero Section ======= -->

    <div id="myCarousel" class="carousel slide" data-touch="true" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image:url(/images/Hekima/hero-1.jpg); background-repeat: no-repeat; background-size: cover; background-position:center;">
          <div class="container">
            <div class="carousel-caption text-start">
              <h3 class="slide-sub-title" data-animation-in="slideInRight">HEKIMA SCHOOLS</h3>
              <!-- <p>Some representative placeholder content for the first slide of the carousel.</p> -->
              <p data-animation-in="slideInLeft" data-duration-in="1.2">
                <a href="/about" class="slider btn btn-primary" style="color: #0A2647; background-color:#FD841F;">About us</a>
                <a href="tel:+255767568310" class="slider btn btn-primary border" style="color: #0A2647; background-color:#FD841F;">Contact Now</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="background-image:url(images/Hekima/hero-5.jpg); background-repeat: no-repeat; background-size: cover; background-position:center; ">
          <div class="slider-content text-left">
            <div class="carousel-caption">
              <h2 class="slide-title-box" data-animation-in="slideInDown">OUR MOTTO:</h2>
              <h1 class="slide-sub-title">IN GOD WE TRUST</h1>
              <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item" style="background-image:url(images/Hekima/lab-1.jpg); background-repeat: no-repeat; background-size: cover; background-position:center;">
          <div class="slider-content text-left">
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-md-12">
                  <h2 class="slide-title-box" data-animation-in="slideInDown">Our Academic Motto:</h2>
                  <h3 class="slide-sub-title-2" data-animation-in="slideInLeft"> We Have To Run While Others Are Walking</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="carousel-item" style="background-image:url(images/Hekima/nursery_school.jpg); background-repeat: no-repeat; background-size: cover; background-position:center;">
          <div class="slider-content text-right">
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-md-12">
                  <h2 class="slide-title-box" data-animation-in="slideInDown">Our Mision:</h2>
                  <h3 class="slide-sub-title-2" data-animation-in="slideInRight"> Take Fast Hold Of Instructions Let Her Not Go</h3>
                  <div data-animation-in="slideInLeft">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us no-padding call-to-action-box">
    <div class="container">

      <div class="row">
        <div class="card-grid">
          <a class="card" href="#services">
            <div class="card__background-1"  style="background-color: #3E6D9C;"></div>
            <div class="card__content">
              <h3 class="card__heading">why choose us?</h3>
              <p class="card__category lead" style="font-size: 16px;">Hekima schools are the best schools in Kigoma district, with experience of more than 11 years and good teaching staff. Get to know, the schools leadership, schools history and a word from the school heads </p>
                <div class="call-to-action-btn">
                  <p class="btn btn-dark" href="#services">Our Services</p>
                </div>
            </div>
          </a>
          <a class="card" href="../public/assets/SchoolDocuments/JOINING_INSTRUCTION,_2023.pdf" download>
            <div class="card__background-1" style="background-color: #3E6D9C;"></div>
            <div class="card__content">
              <h3 class="card__heading" >Joining instructions</h3>
              <p class="card__category lead " style="font-size: 16px;">Click this card, to get schools documents such as joining instructions, joining forms in our catalogue of documents</p>
            </div>
          </a>
          <a class="card" href="/about">
            <div class="card__background-1" style="background-color: #3E6D9C;" ></div>
            <div class="card__content">
              <h3 class="card__heading">Know Us</h3>
              <p class="card__category lead" style="font-size: 16px;">Get to know, the schools leadership, schools history and a word from the school heads </p>
            </div>
          </li>
          <a class="card" href="/gallery ">
            <div class="card__background-1" style="background-color: #3E6D9C"></div>
            <div class="card__content" >
              <h3 class="card__heading" >Our gallery</h3>
              <p class="card__category" style="font-size: 16px; ">Take a look at our collection of photos from schools most recent events</p>

            </div>
          </a>
      </div>
    </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- End Hero -->

  <main id="main">
    <!-- <main id="main" style="background-image: url(images/Hekima/bg-cartoony.png);"> -->

    <!-- ======= About Section ======= -->
    <section id="news" class="about section-darker">
      <!-- <section id="news" class="about section-darker" style="background-image: url(images/Hekima/bg-cartoony.png);"> -->
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=ivkg9McYGxU" class="glightbox play-btn mb-4"></a>
          </div>

          <div
            class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">

            <h2 class="mb-3">Latest News</h2>


            <div class="icon-styled-box mb-3">
              <h4 class="blog-post-title" style="color: white;">news  headings<h4>
              <p class="lead">news explanation on the paragraph..</p>
            </div>

            <div class="icon-styled-box mb-3">
              <h4 class="blog-post-title" style="color: white;">news  headings<h4>
              <p class="lead">news explanation on the paragraph..</p>
            </div>

            <div class="icon-styled-box mb-3">
              <h4 class="blog-post-title" style="color: white;">news  headings<h4>
              <p class="lead">news explanation on the paragraph..</p>
            </div>

            <div class="icon-styled-box mb-3">
              <h4 class="blog-post-title" style="color: white;">news  headings<h4>
              <p class="lead">news explanation on the paragraph..</p>
            </div>
            

            
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="facts" class="facts-area section-yellowish">
      <div class="container">
        <div class="facts-wrapper">
          <div class="row">
            <div class="col-md-3 col-sm-6 ts-facts">
              <div class="ts-facts-img">
                <img loading="lazy" src="images/Hekima/graduated.png" alt="facts-img" class="stats-icons">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="400"></span>+</h2>
                <h3 class="ts-facts-title">Students</h3>
              </div>
            </div><!-- Col end -->

            <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="images/Hekima/team.png" alt="facts-img" class="stats-icons">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="40"></span>+</h2>
                <h3 class="ts-facts-title">Staff Members</h3>
              </div>
            </div><!-- Col end -->

            <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="images/Hekima/graduation-hat.png" alt="facts-img" class="stats-icons" >
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="400"></span>+</h2>
                <h3 class="ts-facts-title">No of graduates</h3>
              </div>
            </div><!-- Col end -->

            <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="images/Hekima/award.png" alt="facts-img" class="stats-icons">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="1">0</span></h2>
                <h3 class="ts-facts-title">Our Highest position</h3>
              </div>
            </div><!-- Col end -->

          </div> <!-- Facts end -->
        </div>
        <!--/ Content row end -->
      </div>
      <!--/ Container end -->
    </section>

    <!-- ============== Our school section starts here ================= -->

    <section class="container">

      <div class="section-title-custom-1">
        <h2 style="color: white;"> Our Schools</h2>
      </div>

      <div class="p-4 p-md-5 mb-4 rounded text-bg-dark" style="background-image: url(images/Hekima/schools-bg.jpg); background-repeat: no-repeat; background-size: cover;  ">
        <div class="col-md-6 px-0">
          <h1 class="display-4">Hekima schools</h1>
          <p class="lead my-3" style="font-weight: 300;"> Hekima English medium Nursery primary and secondary schools are boarding schools found at Kabanga, Kasulu district in Kigoma region all neighbouring each other. The schools is located, 9 km from Kasulu town in Kabanga village. it has good and friendly environment for student learning. <br>
            <br>
            The school has modern classes with electricity to support studies at night, it also fenced and with guards to improve security, it has enough sports fields and has dormitories with running water.
            Hekima schools offers excellent care for your child morally, spiritually, healthy and hospitality wise, the school has also good teaching staff with good learning techniques to make your children.
            <br>            
          </p>
    
          <h3 class="blog-post-title mb-1">Our Awards</h3>
            <p class="lead my-3" style="font-weight: 300;">Hekima primary school was awarded the best school in Kigoma by NECTA national examinations commission in Tanzania in 2019, after claiming 1st place in Kigoma and 30th out of 9929 schools nationwide. While In 2020, school was 2nd in Kigoma and 41th out of 6641 schools nationwide</p>
            <hr>
        </div>
      </div>
      </section>


    <!-- ============== Our school section ends here ================= -->

    <!-- ======= Services Section ======= -->
    <section class="container" id="services" >

      <div class="section-title" >
        <h2>Our Services</h2>
      </div>

      <div class="card-grid">
        <a class="card" href="#services">
          <div class="card__background" style="background-image: url(images/Hekima/environment-1.jpg)"></div>
          <div class="card__content">
            <h3 class="card__heading">Good Learning Environment</h3>
            <p class="card__category lead" style="font-size: 16px;">Hekima schools have high quality class rooms, Self contained dormitories, well cared gardens and enough sports fileds</p>
          </div>
        </a>
        <a class="card" href="#services">
          <div class="card__background" style="background-image: url(images/Hekima/dormitopry.jpg)"></div>
          <div class="card__content">
            <h3 class="card__heading">Good hostels and accomodation</h3>
            <p class="card__category lead" style="font-size: 16px;">Our school has modern facilities and self contained dormitories </p>
          </div>
        </a>
        <a class="card" href="#services">
          <div class="card__background" style="background-image: url(images/Hekima/Food-1.jpg)"></div>
          <div class="card__content">
            <h3 class="card__heading">Good and quality food</h3>
            <p class="card__category lead" style="font-size: 16px;">Our school provides food for boarding students, with diverse meal plans</p>
          </div>
        </li>
        <a class="card" href="#services">
          <div class="card__background" style="background-image: url(images/Hekima/airtanzania.jpg)"></div>
          <div class="card__content">
            <h3 class="card__heading">Study Tours</h3>
            <p class="card__category lead" style="font-size: 16px;">Students at hekima school get to visit eduactional and work Environment to learn and get insapired</p>
          </div>
        </a>
        <a class="card" href="#services">
          <div class="card__background" style="background-image: url(images/Hekima/Beach-1.jpg)"></div>
          <div class="card__content">
            <h3 class="card__heading">Water availability</h3>
            <p class="card__category lead" style="font-size: 16px;">Our school has running water in the dormitories kitchen and toilets, reducing water troubling many other schools in kigoma</p>
          </div>
        </a>
        <a class="card" href="#services">
          <div class="card__background" style="background-image: url(images/Hekima/office-1.jpg)"></div>
          <div class="card__content">
            <h3 class="card__heading">Electricity</h3>
            <p class="card__category lead" style="font-size: 16px;">Students get to study under lights for a comfortable experience</p>
          </div>
        </a>
        <a class="card" href="#services">
          <div class="card__background" style="background-image: url(images/Hekima/sport-5.jpg)"></div>
          <div class="card__content">
            <h3 class="card__heading">Sports teams</h3>
            <p class="card__category lead" style="font-size: 16px;">Hekima schools has dedicated time for playing sports as kid need to learn key aspects of life like teamwork, discipline and celebrating</p>
          </div>
        </li>
        <a class="card" href="#services">
          <div class="card__background" style="background-image: url(images/Hekima/Lab-1.jpg)"></div>
          <div class="card__content">
            <h3 class="card__heading">Well equiped Laboratories</h3>
            <p class="card__category lead" style="font-size: 16px;">Our laboratories have electricity, gas, running water, tiled surfaces, Abundant apparatus and biology specimen</p>
          </div>
        </a>
    </div>
    </section>

      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-light "  style="background-color: #0A2647;">
      <!-- <section id="contact" class="contact section-light " style="background-image:url(images/Hekima/contact-bg.png) ;"> -->
      <div class="container ">

        <div class="section-title-custom-1">
          <h2 class="text-blue" style="color: #fff;">Contact Us</h2>
        </div>
      </div>


      <div class="container ">
        <div class="row mt-5  ">

          <div class="col-lg-4 ">
            <div class="info p-3">
              <div class="address">
                   <div class="d-flex justify-content-start">
                    <div class="d-flex align-items-center">
                    <img alt="location" src="images/Hekima/pin.png" class="icon-contacts" style="margin-left: 20px;">
                    </div>
                    <div class=" align-items-center">
                      <h4>Location:</h4>
                      <p class="lead">Kabanga village,<br> Kasulu, Kigoma</p>
                    </div>
                   </div>
                    
              </div>

              <div class="email">
                <div class="d-flex justify-content-startr">
                  <div class="d-flex align-items-start">
                    <img alt="email" src="images/Hekima/email.png" class="icon-contacts" style="margin-left: 20px;">
                 </div>
                 <div class=" align-items-center">
                    <h4>Email:</h4>
                    <p class="lead">hekimaschools@gmail.com</p>
                  </div>
              </div>
            </div>

              <div class="phone">
                <div class="d-flex justify-content-start">
                  <div class="d-flex align-items-center">
                <img alt="phone" src="images/Hekima/google-contacts.png" class="icon-contacts" style="margin-left: 20px;">
              </div>
              <div class="align-items-center">
                  <div class="col">
                  <h4>Call us;</h4>
                    <p class="lead" href="tel:+255767568310">+255767568310</p>
                    <p class="lead" href="tel:+255758976845">+255758976845</p>
                    <p class="lead" href="tel:+255784568310">+255784568310</p>
                    <p class="lead" href="tel:+255627543402">+255627543402</p>  
                  </div>
                  
              </div>
              </div>

            </div>
          </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">


            <div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=Kabanga%20community&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" frameborder="0" scrolling="no" class="mapdiv"></iframe></div></div>


          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include("./partials/footer.ejs") -%>
    <!-- Footer end -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
        
    <%- include("./partials/scripts.ejs") -%>

</body>

</html>